body {
    background-color: #e9ebee;
}

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    block-size: border-box;
    text-transform: capitalize;
    text-decoration: none;
}

.header {
    width: 100%;
    height: 42px;
    background-color: #4267b2;
    border-bottom: 1px solid #29487d;
    z-index: 1;
}

.wrapper {
    width: 1000px;
    max-width: 1000px;
    margin: 0 auto;   
}

.logo {
    margin: 4.5px -4px 0 0;
    float: left;
    width: 28px;
}

.logo:hover { 
    cursor: pointer;
}

.fa-facebook {
    font-size: 26px;
}

.header__search { 
    float: left;
    margin-top: 9px;
    height: 24px;
    margin-left: 7px;
    background-color: #fff;
    border: 1px solid #3b5998;  
    border: none;    
}

.header__search-input {
    width: 388px;
    margin-right: 0;
    border-radius: 2px 0 0 2px;
    font-size: 14px;
    padding-left: 8px;     
}

.header__search-icon {
    margin-left: 0;
    background-color: #4080ff;
    width: 46px;
    border-radius: 0 2px 2px 0;
    background-color: #f5f6f7;
    cursor: pointer;
}

.header__search-icon:hover {
    background-color: #ebedf0;
}

.float-right {
    float: right;
    line-height: 26px; 
}

.header__right {
     float: right;
     margin-top: 8px;
     text-decoration: none;
     font-size: 21px;
}

.header__right i {
    color: #1a2947;
}

.header__right i:hover {
    color: #08101F;
    ;
}

.header__right-border {
    float: right;
    border-right: 1px solid #365899;
    text-decoration: none; 
    padding: 0 7px;
}

.header__profile {
    text-decoration: none;
    color: white;
    font-weight: 550;
    font-size: 12px;
    height: 24px;
    padding-right: 10px;
}

.header__profile i {
    width: 24px;
    height: 24px;
}

.header__home {
    text-decoration: none;
    color: white;
    font-weight: 550;
    font-size: 12px;
    height: 24px;
    padding-right: 10px;
    padding-left: 10px;

}

.padd {
    padding: 0 7px;
}

.header__help {
    padding-left: 9px;
}

/* MAIN */

.main {
    margin-top: 14px;    
}

.main__sidebar__left {
    width: 180px;
    height: auto;
    float: left;
    margin-left: -7px;
    
}

.main__sidebar__menu__profile {
    text-decoration: none;
    color: #1d2129;
    font-size: 13px;
    background-color: #e9ebee;
    border: 1px solid #e9ebee;
    padding: 2px 0 2px 7px;
    
}

.main__sidebar__menu__profile-margin {
    margin-bottom: 12px;
}

.profile-picture {
    border-radius: 50%;
    width: 22px;
    height: 22px;
}

img {
    width: 18px;
    border-radius: 2px;
    vertical-align: middle;
    margin: -3px 3px 0 0;
}

.main__sidebar__menu__profile:hover {
    background-color: #f5f6f7;
    border: 1px solid #dddfe2;
    border-radius: 2px;
}

.sidebar__menu__link {
    display: block;
    padding: 2px 0 2px 7px;
    background-color: #e9ebee;
    border: 1px solid #e9ebee;
    font-size: 13px;
    color: #1d2129;
    line-height: 25px;
}

.active {
    background-color: #f5f6f7;
    border: 1px solid #dddfe2;
    border-radius: 2px;
    vertical-align: middle;
    font-weight: bold;
}

.sidebar__menu__link:hover {
    display: block;
    background-color: #f5f6f7;
    border: 1px solid #dddfe2;
    border-radius: 2px;
    
}

.main__sidebar__menu__head {
    margin: 10px 0 3px 0;
    padding: 2px 0 2px 7px;
    color: #616770;
    font-size: 13px;
}

.sidebar__menu__seeMore {
    display: block;
    padding: 2px 0 2px 12px;  
    font-size: 13px;
    line-height: 25px;
    color: #365899;
}

.sidebar__menu__seeMore i {
    margin-right: 7px;
    color: #616770;
}

.sidebar__menu__seeMore:hover {
    text-decoration: underline;
}

.sidebar__menu__footer-link {
    font-size: 13px;
    color: #365899;
    margin-right: 3px;
    padding-left: 7px;
    
}

.sidebar__menu__footer-link:hover {
    text-decoration: underline;
    padding: 2px 0 2px 7px;
    
}


/* MAIN CONTENT */

.main__content {
    width: 500px;
    height: 1000px;
    float: left;
    margin: 0 12px;
}

.main__content__post {
    width: 500px;
    height: 153px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #dddfe2;
    border-radius: 4px;    
}

.main__content__post-header {
    width: 100%;
    height: 16px;
    background-color: #f5f6f7;
    padding: 8px 0;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid #dddfe2;
    border-radius: 4px 4px 0 0;
}

.main__content__post-header1 {
    color: black;
    margin: 0 5px 0 7px;
}

.main__content__post-header2 {
    border-left: 1px solid #ccd0d5;
    color: #365899;
    padding: 0 5px;
}

.main__content__post-header-img {
    width: 13px;
    border-radius: 2px;
    vertical-align: middle;
    margin-left: 3px;
}

.main__content__post__body {
    width: 100%;
}

.main__content__post-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 12px 0 0 12px;
    vertical-align: middle;
    position: absolute;
    cursor: pointer;    
}

.main__content__post__body-text {
    color: #90949c;
    font-size: 14px;
    width: 300px;
    height: 20px;
    display: inline-block;
    margin: 24px 12px 28px 64px;
}

.main__content__post__footer {
    width: calc(100% - 24px);
    height: 49px;
    margin: 0 auto;
    border-top: 1px solid #e9ebee;
}

.main__contetn__post__footer-elements {
    color: #4b4f56;
    display: inline-block;
    font-weight: 600;
    padding: 7px 14px 6px 8px;
    margin: 7px 0 0 6px;
    font-size: 12px;
    background: #f5f6f7;
    border-radius: 18px;
    cursor: pointer;
}

.dots {
    padding: 8px 13px 8px 15px;
}


/* MAIN CONTENT NEWS */

.main__content__news {
    width: 100%;
    height: 458px;
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #dddfe2;
    border-radius: 4px;
}

.main__content__news-header {
    display: inline-block;
    height: 80px;
    width: 100%;
}

.main__content__news-header-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 12px 0 0 12px;
    vertical-align: middle;
    position: absolute;
    cursor: pointer;    
}

.main__content__news-header-elements {
    width: 433px;
    margin: 12px 0 0 60px;
    
}

.main__content__news-header-text {
    color: #365899;
    font-weight: 600;
    font-size: 14px;
}

.main__content__news-header-dots {
    float: right;
    padding: 5px;
    width: 16px;
    height: 4px;
    cursor: pointer;
}

.main__content__news-header-text2 {
    color: #616770;
    font-size: 12px;    
    font-weight: 100;
    margin-top: 4px;
}

.main__content__news-body {
    margin-top: 18px;
}

.main__content__news-body-header {
    font-size: 14px;
    margin: 0 0 5px 12px;

}

.main__content__news-body-img {
    width: 100%;
    height: 261px;
    margin-top: 6px;
}

.main__content__news-footer1 {
    width: calc(100% - 24px);
    height: 41px;
    margin: 0 auto;
}

.f-l {
    float: left;
}

.f-r {
    float: right;
}

.like {
    width: 20px;
    position: absolute;
    z-index: 1;
    margin-top: -1px;
}

.love {
    width: 18px;
    margin-left: 15px;
    margin-top: -1px;
}

.main__content__news-footer1-element {
    font-size: 13px;
    color: #90949c;
    cursor: pointer;
    margin-top: 13px;
}

.main__content__news-footer1-element:hover {
    text-decoration: underline;
}

.main__content__news-footer2 {
    width: calc(100% - 24px);
    height: 42px;
    margin: 0 auto;
    border-top: 1px solid #e9ebee;
}

.main__content__news-footer2-element {
    width: 100px;
    height: 42px;
    color: #616770;
    display: inline-block;
    font-weight: 600;
    padding: 11px 0 0 52px;
    margin: auto;
    font-size: 13px;
    cursor: pointer;
}



/* MAIN SIDEBAR RIGHT */

.main__sidebar__right {
    width: 280px;
    float: left;
}

.main__sidebar__right__top {
    width: 280px;
    height: 252px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 12px;
}

.main__sidebar__right__top-head {
    color: #616770;
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
    cursor: pointer;
    padding-bottom: 12px;
}

.main__sidebar__right__top-head:hover {
    text-decoration: underline;
}

.main__sidebar__right__top-head-left {
    color: #365899;
    cursor: pointer;
    text-decoration: none;
    font-size: 13px;
}

.main__sidebar__right__top-head-left:hover {
    text-decoration: underline;
}

.middle-dot {
    margin: 0 5px;
}

.main__sidebar__right__top-conteiner {
    margin-top: 12px;
    width: 100%;
    float: left;
}

.main__sidebar__right__top-element {
    width: 52px;
    height: 52px;
    background-color: #e9ebee;
    border-radius: 50%;
    float: left;
}

.fa-plus {
    font-size: 24px;
    color: rgb(112, 163, 230);
    line-height: 52px;
    padding-left: 15px;
}

.main__sidebar__right__top-element-text {
    font-size: 13px;
    margin-left: 65px;
}

.main__sidebar__right__top-element-text1 {
    color: #365899;
    font-weight: 600;
    max-width: none;
    vertical-align: middle;   
}

.main__sidebar__right__top-element-text2 {
    color: #8d949e;
    margin-top: 3px;
}

.story-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 2px 0 0 2px;  
}

.main__sidebar__right__top-element-border {
    width: 54px;
    height: 54px;
    border-radius: 50%; 
    border: 2px solid #3578e5; 
    float: left;
}

.seemore-margin {
    margin-top: 210px;
    margin-right: -2px;
    width: 100%;
    height: 20px;
}

/* SIDEBAR RIGHT SECOND SECTION EVENTS AND BIRTHDAYS */

.main__sidebar__right__second {
    width: 280px;
    height: 42px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 12px;
    margin-top: 10px;
}

.main__sidebar__right__second-element {
    color: #365899;
    font-weight: 600;
    cursor: pointer;
    font-size: 13px;
    width: 256px;
    height: 25px;
    line-height: 25px;
}

.main__sidebar__right__second-element-container {
    width: 256px;
    height: auto;
    margin: -4px 0;
}

.friends-online {
    position: fixed;
    right: 28px;
    bottom: 0;
    width: 200px;
    height: 15px;
    background-color: #fff;
    display: flex;
    padding: 11px 2px 11px 12px;
    border-radius: 3px 3px 0 0;
    box-shadow: 0px 0px 3px -1px #888888;

}

.friends-online img {
    width: 83px;
    height: 28px;
    margin-top: -6px;
}

.friends-online p {
    font-weight: bold;
    margin-right: 36px;
    color: #616871;
    font-size: 13px;
}